:root {
  --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Inter, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size-m: rem(16);
  --font-line-m: rem(24);
  --font-size-l: rem(24);
  --font-line-l: rem(32);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --border-radius: 12px;
  --border-radius-m: 8px;
  // Sizes
  --navbar-height: 60px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 70px;
  --white-color: #fff;
  --modal-width: 560px;
  // z-indexs
  --modal-z-index: 1000
}