.PageError {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-family-main);
    height: 100vh;
}
.title {
    margin-bottom: 20px;
}
.button {}