.app.dark {
  --bg-color: #131313;
  --bg-secondary: #090909;
  --bg-third: #1b1b1b;
  --border-color: rgb(44, 44, 44);
  --gray: #222222;
  --inverse-bg-color: #c7c7c7;
  --primary-color: #6eacda;
  --secondary-color: #03346e;
  --font-color: #c7c7c7;
}