.app.dark {
  --bg-color: #131313;
  --bg-secondary: #090909;
  --border-color: rgb(31, 31, 31);
  --gray: #111111;
  --inverse-bg-color: #c7c7c7;
  --primary-color: #6eacda;
  --secondary-color: #03346e;
  --font-color: #c7c7c7;
}