:root {
  --bg-color: #fff;
  --bg-secondary: #F9F9F9;
  --border-color: #e5e5e5;
  --gray: #ebebeb;
  --inverse-bg-color: #131313;
  --primary-color: #03346e;
  --secondary-color: #f9f9f9;
  --font-color: #131313;
  --link-color: #6eacda;
}