.Button {
  font-size: var(--font-size-m);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 10px;
  // transition: all 0.3s ease 0s;
  &:hover {
    opacity: .8;
  }
}
// sizes
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
// variants
.clear {
  color: var(--inverse-bg-color);
  background-color: var(--bg-color);
}
.primary {
  border: 1px solid var(--bg-color);
  background-color: var(--inverse-bg-color);
  color: var(--bg-color);
}
.outlined {
  border: 1px solid var(--font-color);
  color: var(--font-color);
  background-color: transparent;
}
.ghost {
  background-color: transparent;
  line-height: 20px;
  color: var(--font-color);
  &:hover {
    background-color: var(--gray);
    opacity: 1;
  }
}