.Button {
  font-size: 14px;
  padding: 2px 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid var(--bg-color);
  display: flex;
  align-items: center;
  column-gap: 5px;
}
