.Button {
  font-size: 14px;
  cursor: pointer;
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--bg-color);
  display: flex;
  align-items: center;
  padding: 2px 10px;
  column-gap: 5px;
}

.dark {
  background-color: var(--inverse-bg-color);
  color: var(--bg-color);
  padding: 4px 12px;
}