.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverse-bg-color);
  color: var(--bg-color);
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.links {
  display: flex;
  column-gap: 20px;
}
