.Navbar {
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 1px solid var(--border-color);
}

.NavbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.links {
  display: flex;
  column-gap: 20px;
}