.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverse-bg-color);
  color: var(--bg-color);
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  column-gap: 20px;
}