.Sidebar {
  height: calc(100vh - var(--navbar-height));
  flex: 0 0 var(--sidebar-width);
  position: relative;
  background-color: var(--inverse-bg-color);
  overflow: hidden;
  transition: flex 0.3s ease 0s;
}
.collapsed {
  flex: 0 0 var(--sidebar-width-collapsed);
  & .switchers {
    flex-direction: column;
    align-items: center;
  }
}
.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}